@model List<VkPostsViewer.Controllers.TelegramController.ParsedResult>

<h2>Результаты парсинга Telegram</h2>

<table class="table">
    <thead>
        <tr>
            <th>Дата публикации</th>
            <th>Источник</th>
            <th>Тег</th>
            <th>Текст</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date.ToString("g")</td>
                <td>@item.SourceUrl</td>
                <td><span style="color: red">@item.Tag</span></td>
                <td>
                    <details>
                        <summary>@(item.Text.Length > 100 ? item.Text.Substring(0, 100) + "..." : item.Text)</summary>
                        <p>@item.Text</p>
                    </details>
                </td>
            </tr>
        }
    </tbody>
</table>

